/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2016, 5:31:10 PM
    Author     : Gregory Prosper
*/

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    /* adds animation for all transitions */ 
    -webkit-transition: .4s ease-in-out; 
    -moz-transition: .4s ease-in-out; 
    -o-transition: .4s ease-in-out; 
    transition: .4s ease-in-out; 
    margin: 0; 
    padding: 0; 
    -webkit-text-size-adjust: none; 
} 

#navigation-drawer{
    background-color: #EFD6B0;
    position: absolute;
    float: left;
    width: 350px;
    height: 100%;
    left: -350px;
}

#content-container{
    height: 100%;
}

.navbar-header{
    background-color: #03a9f5;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
}

.navbar-brand{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar-brand img{
    margin-top: 10px;
}

.nav-item{
    display: inline;
}

#brand-text{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

em{
    font-size: 13px;
}

#nav-main{
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.caret{
    color: #0e47a1;
    font-size: 18px;
    position: absolute; top: 50%; left:  90%; right: 20px;
}

.slide-in{
    left: 0px !important;
}

.move-over{
    display: inline-block;
    margin-left: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown-toggle{
    width: 215px;
    color: #0e47a1 !important;
    font-size: 18px;
}

.dropdown-toggle:hover{
    color: #03a9f5 !important;
    box-shadow: 0 3px #03a9f5;
}

.dropdown-toggle em{
    color: darkgrey;
}

.dropdown-menu{
    border-top-color: #03a9f5 !important;
    border-top-width: 3px !important;
    max-height: 500px;
    overflow-y: scroll;
    width: 215px;
}

@media(max-width: 767px){

    #brand-text{
        font-size: 18px;
    }

    #brand-logo img{
        height: 40px;
        width: auto;
    }

    .navbar-header{
        padding-top: 10px;
        padding-bottom: 5px;
        height: 60px;
    }

    .navbar-brand{
        padding-left: 0px !important;
    }
    
    .navbar-brand img{
        margin-top: 0px;
    }

    em{
        font-size: 8px;
    }

    #nav-button{
        display: inline;
        float: left !important;
        border: 0;
    }

    .dropdown-toggle{
        width: 100%;
    }
}

@media(max-width: 603px){
    
    #navigation-drawer{
        width: 300px;
        left: -300px;
    }

    .move-over{
        margin-left: 330px;
    }
}

@media(max-width: 375px){
    #navigation-drawer{
        width: 300px;
        left: -300px;
    }

    .move-over{
        margin-left: 300px;
    }
}

@media(max-width: 360px){
    #navigation-drawer{
        width: 250px;
        left: -250px;
    }

    .move-over{
        margin-left: 250px;
    }
}